# https://docs.travis-ci.com/user/reference/overview/
dist: focal
arch: amd64

# https://docs.travis-ci.com/user/languages/python/
language: python
python:
  - "3.9"
  - "3.10"
  - "3.11"
  - "pypy3"
cache: pip

env:
  - PILLOW=8.*
  - PILLOW=9.*
  - PILLOW=10.*
install:
  - travis_retry sudo apt-get update -qq
  - travis_retry sudo apt-get install -qq libcairo2 libcairo2-dev libexiv2-dev libgexiv2-dev libgirepository1.0-dev
  - travis_retry pip install --upgrade pip setuptools wheel
  - travis_retry pip install coveralls Pillow==$PILLOW
  - travis_retry pip install -U -e .[test]
script:
  - flake8
  - pytest
jobs:
  allow_failures:
    - python: "pypy3"
